# Exclude these files from the git repo
wp-content/cache/*
wp-content/themes/grunwell2012/css/.sass-cache/*
wp-content/themes/grunwell2012/css/style.css
wp-content/themes/grunwell2012/simple-twitter-timeline/
wp-content/themes/grunwell2012/tweetcache-stevegrunwell.json
wp-content/upgrade/*
wp-content/uploads/*
*.DS_Store
*Thumbs.db
readme.html
sitemap.*
wp-config.php

# Include these files in previously blocked directories
!wp-content/uploads/.htaccess
