# Exclude these files from the git repo
wp-content/backups
wp-content/ewww
wp-content/plugins/ewww-image-optimizer/*.log
wp-content/themes/grunwell2012/css/ie8.css
wp-content/themes/grunwell2012/css/style.css
wp-content/themes/twenty*
wp-content/upgrade
wp-content/uploads
wp-config.php

# Hidden files
*.sass-cache*
*.DS_Store
*Thumbs.db
*~imageoptim*

# Generated and/or artifact files
sitemap.*
REVISION

# WP Super cache
wp-content/cache/*
wp-content/wp-cache-config.php
