# Don't allow directory navigation
Options -Indexes -Multiviews +FollowSymlinks

# Rediect requests to .git to the public Github repo for this site
RewriteEngine On
RewriteRule ^\.git(/.*)?$  https://github.com/stevegrunwell/stevegrunwell-com [L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
