/**
 * Styles applied to viewports 500px and above
 * @package WordPress
 * @subpackage grunwell2012
 * @author Steve Grunwell <steve@stevegrunwell.com>
 */

#primary-nav ul { display: block; }
#primary-nav select { display: none; }

.btn, a.btn:link, a.btn:visited, input[type="submit"] { display: inline-block; width: auto; }