/**
 * Styles applied to viewports 980px and above
 * @package WordPress
 * @subpackage grunwell2012
 * @author Steve Grunwell <steve@stevegrunwell.com>
 */

.primary{width:620px; margin-right:28px;}
.secondary{min-width:210px; max-width:210px; margin-top:0;}