/**
 * Styles applied to viewports 980px and above
 * @package WordPress
 * @subpackage grunwell2012
 * @author Steve Grunwell <steve@stevegrunwell.com>
 */

#content{padding-right:266px;}
.primary{max-width:640px;}
.secondary{position:absolute; right:0; top:0; min-width:226px; max-width:226px;}