/**
 * Base stylesheet
 * @package WordPress
 * @subpackage grunwell2012
 * @author Steve Grunwell <steve@stevegrunwell.com>
 */

$line_height: 1.8em;
$link_color: #9B1518;
$border_color: #dadada;

/** CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0; padding:0; vertical-align:baseline; background:transparent; border:0;}
body{line-height:1;}
header,nav,footer,article,section{display:block; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{clear:both; font-weight:bold;}
ul{list-style:none;}
blockquote{quotes:none;}
blockquote:before,blockquote:after{content:''; content:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse; border-spacing:0;}
a img{border:none;}

/** Site structure */
* {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
html, body{min-width:320px; background:#333;}
body{padding:2%;}
#wrapper{position:relative; max-width:960px; overflow:hidden; margin:0 auto; padding:2.5em 4%; background:url('../img/site-bg.png') left top repeat-x #fff; @include border-radius( 10px ); }
#content{position:relative;}

.primary, .secondary{display:inline; float:left; margin:0; padding:0;}
.primary{max-width:100%; margin-bottom:$line_height;}
.secondary{width:100%;}
footer{clear:both;}

/** Typography */
body{ font-family:'Helvetica Neue',sans-serif; font-size:14px; line-height:$line_height; color:#333; }
h1, h2, h3, h4{ font-family:Gotham,'Helvetica Neue',sans-serif; line-height:$line_height; }
h2, h3, h4, h5, h6{ margin-top:1.4em; margin-bottom:$line_height / 3; }
h1{ margin-bottom:$line_height / 2; font-size:1.9em; line-height:1.4em; }
h2{ font-size:1.5em; }
h3{ font-size:1.2em; }
h4{ font-size:1.1em; }
h5{ font-size:1em; }
h6{ font-size:.9em; }
p, ul, ol, dl, table, pre{ margin-bottom:1.8em; }
ul, ol{margin-left:1.5em; }
ul{list-style-type:disc; }
ul.menu{margin-left:0; }
li{margin-bottom:.4em; }
dt{margin-bottom:1em; font-weight:bold; }
dd{ font-style:italic; }
small{ font-size:.85em; line-height:.8em; }
sup{ position:relative; top:-.3em; }
pre, code{ font-family:Monaco,'Bitstream Vera Sans Mono','Lucida Console',Terminal,monospace; font-size:.9em; }
code{ padding:0 .25em 0 .5em; white-space:nowrap; background:#eaeaea; }
abbr{ border-bottom:1px dotted #999; cursor:help; }

a:link, a:visited{text-decoration:none; color:$link_color;}
a:hover, a:active{text-decoration:underline;}

table{ width:100%; max-width:100%;
  th, caption{ text-align:left; font-weight:bold; }
  caption.cite{ caption-side:bottom; font-size:.8em; font-weight:normal; }
  tr:nth-child(even){ background-color:#f2f2f2; }
  th, td{ border-bottom:1px solid #dadada; }
}

/** Form styles */
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="url"], textarea, select{display:block; width:100%; max-width:400px; padding:6px 8px; border:1px solid #dadada; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; border-radius:4px;}
textarea{overflow:auto;}
label{display:block; font-weight:bold;}
label.required::after{content:' *'; color:#812323;}
label.error{font-weight:normal; font-style:italic; color:#812323;}

.wpcf7-form.sent fieldset{display:none;}

/** Header */
#site-logo{display:block; max-width:431px; margin:0 0 16px; padding:0; overflow:hidden; font-family:Gotham,'Helvetica Neue',sans-serif; font-size:46px; line-height:46px; text-transform:uppercase; font-weight:bold;}
#site-logo img{display:block; width:auto; max-width:100%; height:auto;}
html.no-svg #site-logo{background:url('../img/site-logo.png') left top no-repeat transparent; background-size:100% auto;}
html.no-svg #site-logo img{visibility:hidden; height:38px;}

form.search { z-index:1; width:230px; margin:0 auto $line_height;
  fieldset { position: relative; }
  input { width:100%; padding-right:48px; }
  button { position:absolute; right:0; bottom:0; display:block; width:40px; height:27px; font-size:0; line-height:0; text-indent:-9999px; background:url('../img/magnifying-glass.png') center center no-repeat transparent; border:none; cursor:pointer; }
}
form.search-btn{display:none; background:#333;}

#menu-social-networks{
  margin:0; text-align:center;
  li{display:inline-block; margin-left:8px; background:url('../img/ico/social-media.png') no-repeat transparent;}
  li.facebook{background-position:-131px -1px;}
  li.twitter{background-position:-1px -1px;}
  li.googleplus{background-position:-105px -1px;}
  li.github{background-position:-53px -1px;}
  li.flickr{background-position:-79px -1px;}
  li.linkedin{background-position:-27px -1px;}
  a{display:block; width:24px; height:24px; overflow:hidden; font-size:0; line-height:0; }
}

#primary-nav{clear:left; display:block; margin-bottom:44px;}
#primary-nav ul{display:none;}
#primary-nav li{display:inline; margin-right:24px;}
#primary-nav a{font-size:20px; text-transform:lowercase; font-weight:300; color:#aaa; @include link-transition }
#primary-nav a:hover, #primary-nav a:active, #primary-nav a:focus, #primary-nav .current-menu-item a, #primary-nav .current_page_parent a, #primary-nav .current_page_ancestor a{text-decoration:none; color:#333; @include link-transition }
#primary-nav select{display:block; width:100%; max-width:100%;}

/** Utility classes */
.screen-reader-text{position:absolute; right:-99999em;}

/* Clearfix */
.clear, .clearfix:after, #content:after{clear:both;}
#content:before, #content:after, .clearfix:before, .clearfix:after{content:''; display:table;}

/** Content styles */
.primary .post{
  margin-bottom:21px;
}

.post{
  aside{ margin-bottom:$line_height; padding:0 $line_height; background:#eaeaea; border-top:2px solid #999; border-bottom:2px solid #999; }
  .post-title{ margin-bottom:.3em; }
}
.entry-meta{margin-bottom:.2em; font-size:.9em; color:#999;}
article.primary .entry-meta{margin-bottom: $line_height;}
.post-tags{margin-top:4em;}

.btn, a.btn:link, a.btn:visited, input[type="submit"]{display:block; width:100%; padding:.3em .5em; text-align:center; font-size:1.2em; line-height:1.5em; font-weight:bold; color:#fff; text-shadow:1px 1px 1px #333; background:#2a73ab; border:none; border-radius:5px; box-shadow:0 1px 1px #333; cursor:pointer;}
.btn:hover, a.btn:hover, a.btn:active{text-decoration:none; background:#225d8b;}

.update{
  padding:.2em .5em; background-color:#fffbc6; background-color:rgba(255,251,198,0.5); border:1px solid #f7ed64; @include border-radius( 5px );
  code { background:transparent; }
}

/** Image styles */
#content img{display:block; width:auto; max-width:100%; height:auto; box-shadow:0 0 2px #aaa;}
.alignleft, img.alignleft, .alignright, img.alignright, .aligncenter, img.aligncenter{clear:both; display:block; margin:0 auto 1.4em;}
.wp-caption { max-width:100%; margin-bottom:$line_height; padding:5px; background:#eaeaea; border:1px solid #999; border-radius:4px;
  p.wp-caption-text { margin:5px 0 0; font-size:0.8em; line-height:$line_height; }
}

/** jQuery Flexslider */
.flexslider, .flexslider ul{width:100%; max-width:640px;}
.flexslider{
  position:relative; zoom:1; margin:0 auto .5em; padding:0 0 44px;
  .slides{margin:0; zoom:1;}
  .slides:after{content:' '; clear:both; display:block; visibility:hidden; height:0; line-height:0;} /* Clearfix */
  .slides > li{position:relative; display:none; list-style:none; -webkit-backface-visibility:hidden;}
  .slides > li:first-child{display:block;}
  .slides img{display:block; max-width:100%; height:auto; box-shadow:0 0 1px #aaa;}
  .flex-pause-play span{text-transform:capitalize;}

  .flex-control-nav{position:absolute; bottom:0; width:100%; margin-left:0; text-align:center;}
  .flex-control-nav li{display:inline; margin:0 3px; zoom:1;}
  .flex-control-nav li a{display:inline-block; width:12px; height:12px; font-size:0; line-height:0; text-indent:-99999em; background:url('../img/carousel-navigation.png') center top no-repeat transparent; cursor:pointer;}
  .flex-control-nav li a:hover, .flex-control-nav li a.active{background-position:center bottom; cursor:pointer;}
}
#content .flexslider a{border:none;}

/* Syntax Highlighter */
#content .syntaxhighlighter{
  margin:0 0 1.5em!important;
  caption{font-size:.85em!important; color:#aaa!important;}
}

/* Comments */
#comments{
  clear:both; margin-top:2em;
  h3{margin-bottom:1.4em;}
  .comments{margin-left:0;}
  .comment{
    list-style:none;
    p { clear:both; margin-bottom:1em; }
    .comment-author {
      .avatar { float:left; margin:0 1em 1em 0; @include border-radius( 50% ); }
      cite { display:block; padding-top:.2em; font-weight:bold; font-style:normal; }
      .comment-date { display:block; font-size:.9em; color:#999; }
    }
    .comment-content { margin-bottom:$line_height; }
    .children { margin-left:0; padding-left:$line_height; border-left:1px solid #dadada; }
    .utility { margin-top:-1em; font-size:.9em; }
  }
}

.pagination { margin:2em 0 0; list-style:none;
  .prev { float:left; }
  .next { float:right; }
}

/** Sidebar styles */
.secondary {
  font-size: 14px;
  h2{margin-top:0; font-size:1.3em;}
  p + h2{margin-top: $line_height;}
  ul{margin-left:0; list-style:none;}
  li{margin-bottom: 1em;}
  time, .tweet{display:block;}
  time{font-size:.85em; color:#999;}

  .company, .city{display:block;}
}

.paypal-donations{margin-bottom:1.4em;}

/* Twitter module */
#twitter-module {
  h2 { margin-bottom: 0; }
  p { margin-bottom: 1em; }
  p a { font-weight: bold; }
  .tweets { max-width: 100%; margin-left: 0; }
  .tweet { padding-bottom: 0.75em; }
  .tweet + .tweet { padding-top: 0.75em; border-top:1px dashed $border_color; }
}

/** Footer */
footer{padding-top:1.4em;}